{% comment %}
  Mega menu principal.
  Usa: section.settings.main_menu_store (handle do menu)
  Suporta: section.blocks do tipo 'banner_menus' associados por menu_item_id == link.handle
{% endcomment %}

{%- assign banner_blocks = section.blocks | where: 'type', 'banner_menus' -%}

<nav class="navbar navbar-expand-lg navbar-light p-0 text-center justify-content-between">
  <div class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav">

      {%- for link in linklists[section.settings.main_menu_store].links -%}

        {%- if link.links != blank -%}
          {%- assign current_banner = blank -%}
          {%- assign link_id = link.handle | downcase -%}
          {%- for banner in banner_blocks -%}
            {%- assign banner_id = banner.settings.menu_item_id | downcase | strip -%}
            {%- if banner_id == link_id -%}
              {%- assign current_banner = banner -%}
            {%- endif -%}
          {%- endfor -%}
          {%- assign has_banner = false -%}
          {%- if current_banner != blank and current_banner.settings.banner_menu != blank -%}
            {%- assign has_banner = true -%}
          {%- endif -%}

          <li class="nav-item dropdown">
            <a href="{{ link.url }}" class="delay03 relative nav-link menu_lv1">
              {{ link.title | escape }}
              <span>
                <svg width="15" height="8" viewBox="0 0 15 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.23 0.837968C14.23 0.947043 14.2066 1.04054 14.1599 1.11845C14.1287 1.21194 14.082 1.29764 14.0196 1.37555L7.49851 7.89667L0.97739 1.37555C0.915062 1.29764 0.860525 1.21194 0.813778 1.11845C0.782614 1.04054 0.767032 0.947043 0.767032 0.837968C0.767032 0.635401 0.837152 0.456207 0.97739 0.300385C1.11763 0.160146 1.29682 0.0900269 1.51497 0.0900269C1.60847 0.0900269 1.70196 0.105609 1.79545 0.136773C1.88894 0.18352 1.96686 0.238057 2.02918 0.300385L7.49851 5.76971L12.9678 0.300385C13.0302 0.238057 13.1081 0.18352 13.2016 0.136773C13.2951 0.105609 13.3885 0.0900269 13.482 0.0900269C13.7002 0.0900269 13.8794 0.160146 14.0196 0.300385C14.1599 0.456207 14.23 0.635401 14.23 0.837968Z" fill="#1B1B1B"></path>
</svg>
              </span>
            </a>
            <div class="dropdown-menu list-woman shop show">
              <div class="container container-v1">
                <div class="row">
                  <div class="{% if has_banner %}col-md-9{% else %}col-md-12{% endif %}">
                    <ul class="row list-unstyled mb-0">
                      {%- for childlink in link.links -%}
                        <li class="col-md-3 mb-3">
                          <a href="{{ childlink.url }}" class="delay03 d-block mb-2 menu_lv2">
                            {{ childlink.title | escape }}
                          </a>
                          {%- if childlink.links != blank -%}
                            <ul class="list-unstyled px-0">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="d-block mb-1 menu_lv3">
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>

                  {%- if has_banner -%}
                    <div class="col-md-3">
                      <img
                        src="{{ current_banner.settings.banner_menu | image_url: width: 600 }}"
                        alt=""
                        loading="lazy"
                        width=""
                        height=""
                        class="img-fluid"
                      >
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </li>

        {%- else -%}

          <li class="nav-item dropdown">
            <a href="{{ link.url }}" class="delay03 relative nav-link menu_lv1">
              {{ link.title | escape }}
            </a>
          </li>

        {%- endif -%}

      {%- endfor -%}

    </ul>
  </div>
</nav>
