<div data-section-id="{{ section.id }}" data-section-type="section-banner-v8" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v8">
    <div class="container container-v2">
      <div class="row">        
        <div class="col-md-6">
          <div class="banner-item banner1">
            <div class="box-img">
              {% if section.settings.img_banner1 != blank %}
              <img loading="lazy" width="" height="" data-src="{{ section.settings.img_banner1 | image_url }}" class="lazyload img-fluid w-100" alt="_img_banner_">
              {% else %}
              <img loading="lazy" width="" height="" data-src="https://via.placeholder.com/692x318" class="lazyload img-fluid w-100" alt="_img_banner_">
              {% endif %}
            </div>
            <div class="banner-content">
              <div class="info">
                {% if section.settings.sub_title1 != blank %}
                <div class="title-top title-top-{{ section.id }}">{{section.settings.sub_title1}}</div>
                {% endif %}
                {% if section.settings.title_banner1 != blank %}
                <h3 class="title-banner title-{{ section.id }}">{{section.settings.title_banner1}}</h3>
                {% endif %}
                {% if section.settings.btn_banner1 != blank %}
                <a href="{{section.settings.url_banner1}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.btn_banner1}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="banner-item banner2">
            <div class="box-img">
              {% if section.settings.img_banner2 != blank %}
              <img loading="lazy" width="" height="" data-src="{{ section.settings.img_banner2 | image_url }}" class="lazyload img-fluid w-100" alt="_img_banner_">
              {% else %}
              <img loading="lazy" width="" height="" data-src="https://via.placeholder.com/692x318" class="lazyload img-fluid w-100" alt="_img_banner_">
              {% endif %}
            </div>
            <div class="banner-content">
              <div class="info">
                {% if section.settings.sub_title2 != blank %}
                <div class="title-top title-top-{{ section.id }}">{{section.settings.sub_title2}}</div>
                {% endif %}
                {% if section.settings.title_banner2 != blank %}
                <h3 class="title-banner title-{{ section.id }}">{{section.settings.title_banner2}}</h3>
                {% endif %}
                {% if section.settings.btn_banner2 != blank %}
                <a href="{{section.settings.url_banner2}}" class="btn-banner btn-banner-{{ section.id }}">{{section.settings.btn_banner2}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .section-banner-v8 .banner-item .banner-content .title-top-{{ section.id }} {
    color: {{section.settings.color_top_title}};
  }
  .section-banner-v8 .banner-item .banner-content .title-{{ section.id }} {
    color: {{section.settings.color_title}};
  }
  .section-banner-v8 .banner-item .banner-content .btn-banner-{{ section.id }} {
    color: {{section.settings.color_btn}};
  }
  .section-banner-v8 .banner-item .banner-content .btn-banner-{{ section.id }}:hover {
    color: {{section.settings.color_btn_hover}};
  }
  .section-banner-v8 .banner-item .banner-content .btn-banner-{{ section.id }}:hover:before {
    background: {{section.settings.color_btn_hover}};
  }
</style>

{% schema %}
{
  "name": "BANNER V8",
  "settings": [
    {
      "type": "header",
      "content": "Setting banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "692 x 318px recommended"
    },
    {
      "type": "text",
      "id": "sub_title1",
      "label": "Sub Title",
      "default": "SALE ALL ITEMS"
    },
    {
      "type": "text",
      "id": "title_banner1",
      "label": "Title",
      "default": "Bag Collection"
    },
    {
      "type": "text",
      "id": "btn_banner1",
      "label": "Button Label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL banner 1",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Setting banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image",
      "info": "692 x 318px recommended"
    },
    {
      "type": "text",
      "id": "sub_title2",
      "label": "Sub Title",
      "default": "SALE ALL ITEMS"
    },
    {
      "type": "text",
      "id": "title_banner2",
      "label": "Title",
      "default": "Spring Collection"
    },
    {
      "type": "text",
      "id": "btn_banner2",
      "label": "Button Label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url_banner2",
      "label": "URL banner 2",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Color Banner"
    },
    {
      "type": "color",
      "id": "color_top_title",
      "label": "Color Sub Title",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color Button Banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color Button Hover",
      "default": "#ff4545"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "BANNER V8",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}